.menu-btn {
    display: none;
    font-size: 22px;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1001;
    background: transparent;
    border: none;
    color: #fafafae6;
    cursor: pointer;
    width: 45px;
    height: 45px;
    align-items: center;
    justify-content: center;
}

.menu {
    position: fixed;
    left: 0;
    top: 65px;
    width: 100%;
    padding: 20px 20px 0 20px;
    background: #030303;
    color: #fff;
    transform: translateY(-125%);
    z-index: 1000;
}

.menu.active {
    transform: translateY(0);
    transition: all 0.3s ease;
}

.menu ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.menu li {
    width: 100%;
    text-align: left;
    border-bottom: 1px solid rgba(255,255,255,0.08);
}

.menu a {
    display: block;
    padding: 8px 0;
    color: #fafafae6;
    text-decoration: none;
    cursor: pointer;
}

.menu a:hover {
    color: #BF2D10;
}

.menu a.active {
    color: #BF2D10;
}

.contact-btn {
    display: flex;
    align-self: center;
    margin: 24px auto;
    padding: 5px 20px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.1px;
    font-weight: 700;
    border-radius: 25px;
    background: #f0340bc7;
    border: 2px solid #ec441ec7;
    color: #fafafae6;
    cursor: pointer;
}

@media (max-width: 900px) {
    .menu-btn {
        display: flex;
    }
}