.inicio {
    position: relative;
    z-index: 1;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    overflow: hidden;
    font-weight: 500;
}

.parallax-bg {
    position: absolute;
    top: -50px;
    left: 0;
    width: 100%;
    height: 120%;

    background:
        linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url("../assets/background.jpeg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    pointer-events: none;
    z-index: -1;
}

.intro-text {
    font-size: 30px;
    font-weight: 500;
    opacity: 0.8;
    margin-bottom: 10px;
}

.main-title {
    font-size: 70px;
    font-weight: 600;
    margin-bottom: 25px;
}

.cta-btn {
    padding: 10px 28px;
    border-radius: 30px;
    border: 2px solid #ec441ec7;
    background: transparent;
    color: #ec441ec7;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: 700;
    height: 60px;
    width: 200px;
}

.cta-btn:hover {
    background: #f0340bc7;
    color: #fafafae6;
}

.scroll-down {
    position: absolute;
    bottom: 25px;
    font-size: 21px;
    color: white;
    cursor: pointer;
    animation: bounceFade 1.5s infinite;
}

.scroll-area {
    position: absolute;
    bottom: 20px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 2;
}

@keyframes bounceFade {
    0% {
        opacity: 0;
        transform: translateY(-15px);
    }

    30% {
        opacity: 1;
    }

    80% {
        opacity: 1;
        transform: translateY(15px);
    }

    100% {
        opacity: 0;
        transform: translateY(20px);
    }
}

@media screen and (min-width: 900px) {
    .inicio {
        margin-left: 0;
    }
}